.env
/node_modules/
package-lock.json
/dist/
curls.sh
db.md
/src/routes/routeTests.sh
/src/tests/
/src/routes/product/*.sh
/src/routes/brand/*.sh
/src/routes/collection/*.sh
/src/routes/family/*.sh
/src/routes/uvc/*.sh
*.sh
*.json
*.csv
*.js
mapping.txt